@import "@fontsource/aleo";

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
body {
  background: #475569;
  display: grid;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  grid-template-rows: 1fr auto;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

/* Typography */
h1 {
  color: #e2e8f0;
  font-family: Aleo, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
h2 {
  color: #e2e8f0;
  font-family: Aleo, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.667rem;
}
h3 {
  color: #e2e8f0;
  font-family: Aleo, sans-serif;
  font-size: 1.56rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

/* Primary Header */
.primary-header {
  background: #1e293b;
  box-sizing: border-box;
  height: 2.25rem;
  padding: 0.25rem 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-link {
  text-decoration: none;
}
.logo {
  color: #e2e8f0;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
  font-family: Aleo, sans-serif;
}
.primary-nav {
  float: right;
}
.primary-nav > ul {
  display: flex;
  list-style: none;
  margin: 0.23rem 0;
  padding: 0;
}
.primary-nav a {
  color: #e2e8f0;
  font-family: Aleo, sans-serif;
  margin-left: 2rem;
  padding: 0.25rem;
  text-decoration: none;
  transition: color 0.25s;
}
.primary-nav a:hover {
  color: #fff;
}

/* Priamry Content Area */
.primary-content {
  padding: 4.5rem 0 0;
}

/* Primary Footer */
.primary-footer {
  background: #1e293b;
  color: #64748b;
  padding: 1.25rem 0;
}
.copyright {
  display: block;
  font-size: 0.875rem;
  margin: 0.5rem 0 0;
}

/* Container */
.container {
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Table */
.primary-table {
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
  width: 100%;
}
.primary-table th {
  text-align: left;
  padding: 1rem 0.5rem;
}
.primary-table th:first-of-type {
  border-top-left-radius: 0.5rem;
}
.primary-table th:last-of-type {
  border-top-right-radius: 0.5rem;
}
.primary-table thead th {
  background: #1e293b;
  color: #e2e8f0;
}
.primary-table td {
  background: #7c8ca2;
  border-top: 1px solid #1e293b;
  padding: 0.5rem;
  transition: background-color 0.25s linear;
  vertical-align: top;
}
.primary-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 0.5rem;
}
.primary-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 0.5rem;
}
.primary-table tr:nth-child(odd) td {
  background: #64748b;
}
.primary-table tr:hover td {
  background: #94a3b8;
}
.primary-table span {
  display: block;
  font-size: 0.75rem;
}
.primary-table span.cell-heading {
  font-size: 1rem;
  font-weight: bold;
}
tr.clickable td {
  cursor: pointer;
}

/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  animation: spinner 1.5s linear infinite;
  border: 0.85rem solid #1e293b;
  border-radius: 50%;
  border-top: 0.85rem solid #94a3b8;
  height: 3.5rem;
  width: 3.5rem;
}
.spinner-container {
  align-items: center;
  display: grid;
  height: 21.5rem;
  justify-content: center;
}

/* Form */
fieldset {
  border: none;
  border-bottom: 1px solid #64748b;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
legend {
  color: #c2410c;
  font-family: Aleo, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}
.field-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
label {
  color: #cbd5e1;
  display: block;
  font-size: 0.75rem;
  margin: 0 0 0.25rem;
  width: 100%;
}
input[type="color"],
input[type="number"],
input[type="text"],
select,
textarea {
  background: #334155;
  border: none;
  border-radius: 0.35rem;
  box-sizing: border-box;
  color: #fff;
  flex: 1;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}
input[type="color"] {
  height: 5rem;
}
textarea {
  height: 8rem;
}

/* Button */
.button {
  background-color: #c2410c;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.125rem 0.25rem;
  color: #fff;
  cursor: pointer;
  font-family: Aleo, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.875rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.125s linear;
}
.button:hover {
  background-color: #f97316;
}
.button.button-full {
  width: 100%;
}
.button.button-large {
  font-size: 1.75rem;
}

/* Content */
.content {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
  padding: 1.25rem;
}
.content-dark {
  background: #1e293b;
}

/* Section */
.section {
  margin-bottom: 4.5rem;
}
.section-header {
  justify-content: space-between;
  display: flex;
}
.section-header > * {
  align-self: center;
}
.section-header-button {
  padding: 0.95rem 1.5rem 0.75rem;
}

/* Link List */
.link-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 2rem;
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.link-list a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 0.25s;
}
.link-list a:hover {
  color: #f97316;
}

/* Battle Form */
.battle-date {
  color: #fff;
}
.button-randomise {
  background: none;
  box-shadow: none;
  padding: 0.875rem 0.75rem;
  margin-left: 0.5rem;
}
