@import "@fontsource/aleo";

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
body {
  background: #475569;
  display: grid;
  font-family: ui-sans-serif,system-ui,Segoe UI,Roboto;
  grid-template-rows: 1fr auto;
  margin: 0;
  min-height: 100vh;
}

/* Header */
.primary-header {
  background: #1e293b;
  box-sizing: border-box;
  height: 2.25rem;
  padding: 0.25rem 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-link {
  text-decoration: none;
}
.logo {
  color: #e2e8f0;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
  font-family: Aleo, sans-serif;
}
.primary-nav {
  float: right;
}
.primary-nav > ul {
  display: flex;
  list-style: none;
  margin: .23rem 0;
  padding: 0;
}
.primary-nav a {
  color: #e2e8f0;
  font-family: Aleo, sans-serif;
  margin-left: 2rem;
  padding:.25rem;
  text-decoration: none;
  transition:color .25s ;
}
.primary-nav a:hover {
  color: #fff;
}

/* Priamry Content Area */
.primary-content{
  padding:4.5rem 0;
}

/* Footer */
.primary-footer {
  background: #1e293b;
  color: #64748B;
  padding:1.25rem 0;
}
.copyright{
  display: block;
  font-size:.875rem;
  margin:.5rem 0 0;
}

/* Container */
.container {
  margin: 0 auto;
  padding: 0 1.25rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

